<p>Name: {{ repository.name }}<p>
<p>Link: <a href="{{repository.link}}">{{repository.link}}</a><p>
<p>Save path: {{ repository.savePath }}<p>
<p>Repository type: {{ repository.repositoryType }}<p>
<p>Schedule: {{ repository.scheduleFrequency }}<p>

<p *ngIf="repository.lastRun">Last run started: {{ repository.lastRun | dateFormat: 'HH:mm:ss DD.MM.YYYY' }}
<p *ngIf="repository.lastSuccessfulRun">Last run completed: {{ repository.lastSuccessfulRun | dateFormat: 'HH:mm:ss DD.MM.YYYY' }}
<p *ngIf="repository.nextFireTime">Next run: {{ repository.nextFireTime | dateFormat: 'HH:mm:ss DD.MM.YYYY'}}
