<h1 mat-dialog-title>{{ repository.name }}</h1>
<div mat-dialog-content>
  <p>
    <mat-form-field appearance="standard">
      <mat-label>Name</mat-label>
      <input matInput [(ngModel)]="repository.name" required>
    </mat-form-field>
  </p>

  <p>
    <mat-form-field appearance="standard">
      <mat-label>Link</mat-label>
      <input matInput [(ngModel)]="repository.link" required>
    </mat-form-field>
  </p>

  <p>
    <mat-form-field appearance="standard">
      <mat-label>Save path</mat-label>
      <input matInput [(ngModel)]="repository.savePath" required>
    </mat-form-field>
  </p>

  <p>
    <mat-form-field appearance="standard">
      <mat-label>Repository Type</mat-label>

      <mat-select [(ngModel)]="repository.repositoryType" required>
        <mat-option *ngFor="let type of repoTypes" [value]="type">
          {{ RepositoryType[type] }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </p>

  <p>
    <mat-form-field>
      <input matInput
        placeholder="Choose date and time of the next run"
        [ngxMatDatetimePicker]="picker"
        [(ngModel)]="repository.startDateTime"
        [min]="minDate"
        [disabled]="false">
      <mat-datepicker-toggle matSuffix [for]="$any(picker)"></mat-datepicker-toggle>
      <ngx-mat-datetime-picker #picker>
      </ngx-mat-datetime-picker>
    </mat-form-field>
  </p>

  <p>
    <mat-form-field appearance="standard">
      <mat-label>Schedule</mat-label>

      <mat-select [(ngModel)]="repository.scheduleFrequency">
        <mat-option *ngFor="let schedule of schedules" [value]="ScheduleFrequency[schedule]">
          {{ ScheduleFrequency[schedule] }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </p>

  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-button (click)="saveNewRepo()">Ok</button>
  </div>

  <div *ngIf="errorMessage">
    {{ errorMessage }}
  </div>

</div>
