<mat-sidenav-container class="example-container">
  <mat-sidenav mode="side" opened>
  <button mat-raised-button (click)="openDialog()">Add new repo</button>
  </mat-sidenav>
  <mat-sidenav-content>
    <table mat-table
      *ngIf="repositories.data.length > 0"
      [dataSource]="repositories" multiTemplateDataRows
      class="mat-elevation-z8">
      <ng-container matColumnDef="{{column}}" *ngFor="let column of repoColumnsToDisplay">
        <th mat-header-cell *matHeaderCellDef> {{column}} </th>
        <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
      </ng-container>

      <ng-container matColumnDef="customColumn1">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let repo">

          <button [disabled]="canScheduleRunNow(repo)" mat-raised-button (click)="startNow(repo)">
            <fa-icon [icon]="faPlay"></fa-icon>
          </button>

          <button mat-raised-button (click)="edit(repo)">
            <fa-icon [icon]="faEdit"></fa-icon>
          </button>

          <button mat-raised-button (click)="delete(repo)">
            <fa-icon [icon]="faCoffee"></fa-icon>
          </button>

        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let element" [attr.colspan]="repoColumnsToDisplay.length">
          <div class="example-element-detail"
              [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
            <app-repository *ngIf="expandedElement === element"
              [repository]=copyOfRepo(element)>
            </app-repository>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
          class="example-element-row"
          [class.example-expanded-row]="expandedElement === element"
          (click)="expandedElement = expandedElement === element ? null : element">
      </tr>
      <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
    </table>
    <div *ngIf="repositories.data.length == 0">
      No repositories, add one
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
